body {
    font-family: Arial, sans-serif;
}

header > h1{
background-color: #0276b5;
}

nav {
    background-color: #00b4d8;
}

header>h2{
    background-color: #90e1ef;
    font-size: 1rem;
    font-weight: bold;
}

.articulo1{
    border-right: 3px solid #90e1ef;
}

footer{
    background-image: url("https://picsum.photos/seed/MPWAR/1920/1080");
    background-repeat: no-repeat;
    font-size: 1rem;
    font-weight: bold;
}