/*Inicializar css*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Fin - inicializar css*/

body {
  font-family: Arial, sans-serif;
  height: 100vh;
}

/*Header: Marca chula que hace cosas chulas*/

.marca-chula {
  position: fixed;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  top: 0;
  background: rgb(12, 113, 166);
  background: radial-gradient(
    circle,
    rgba(12, 113, 166, 1) 0%,
    rgba(0, 95, 147, 1) 100%
  );
  width: 100%;
  overflow: hidden;
}

header > h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.tm {
  font-size: 1rem;
}

/*Nav*/

nav {
  float: left;
  background-color: #00b4d8;
  height: 100%;
  width: 20%;
  bottom: 0;
  position: fixed;
  text-align: center;
}

a {
  text-decoration: none; /*Quitar decoración*/
  border-top-right-radius: 120px;
  border-radius: solid #156b7c;
  border-bottom-right-radius: 120px;
  background-color: #49cae4;
  -webkit-text-stroke: 4px #156b7c;
  color: #ffffff;
  line-height: 30px;
  -webkit-text-stroke-width: medium;
  font-size: 2rem;
  font-weight: bold;
  margin: 30px;
  padding: 20px;
  width: 254px;
}

.boton-enlace {
  width: 60px;
  height: 60px;
}

.uno {
  position: absolute;
  top: 60px;
}

.dos {
  position: absolute;
  top: 170px;
}

.tres {
  position: absolute;
  top: 280px;
}

.cuatro {
  position: absolute;
  top: 390px;
}

header.anuncio-molesto {
  height: 115px;
  position: sticky;
  top: 118px;
  left: 297px;
  right: 0;
  overflow-y: hidden;
  width: 80%;
  background-color: #90e1ef !important;
}

.anuncio-molesto > h2 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

main {
  column-count: 2;
  column-gap: 50px;
  column-rule: 3px solid #90e1ef;
  padding: 20px;
  position: relative;
  left: 297px;
  top: 118px;
  right: 0;
  bottom: 0;
  width: 80%;
  overflow: auto;
}

footer {
  position: relative;
  background-image: url("https://picsum.photos/seed/MPWAR/1920/1080");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  font-size: 1rem;
  font-weight: bold;
  height: 112px;
  right: 0;
  left: 297px;
  bottom: 0;
  width: 80%;
}

p {
  text-align: left;
  margin: 0;
}
